body {
  background: #7078df;
  font-family: Helvetica;
  font-weight: lighter;
}

h2,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  background: rgb(137, 231, 255);
}

p {
  color: #803486;
  font-size: 16px;
  font-style: italic;
  line-height: 16px;
  text-align: left;
}

ol {
  list-style-image: None;
}